body{
      background-color: #8fbc8f;
}

.rectangle {
  width: 100%;
  height: 650px;
  background-color: #636363;
  position: relative;
  top: 25%;
  margin-top: 25px;
  z-index: -3;
}

.box {
  border-radius: 25px;
  background-color: #343434;
  padding: 20px; 
  width: 1300px;
  height: 685px; 
  margin: 0 auto;
  margin-top: -35px;
  position: absolute;
  left: 6%;
}

body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}
    
ul {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: darkseagreen;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: darkslategrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.green {
  height: 480px;
  width: 1300px;
  background-color: #C3D7BE;
  border-radius: 10px;
  margin-top: 175px;
}

.title {
  height: 100px;
  width: 1300px;
  background-color: #C3D7BE;
  margin-top: -620px;
}

        h1, h2 {
    text-align: center;
    margin
  }
