body{
      background-color: #8fbc8f;
}

.rectangle {
  width: 100%;
  height: 350px;
  background-color: #636363;
  position: absolute;
  top: 25%;
  
}

.box {
  border-radius: 25px;
  background-color: #343434;
  padding: 20px; 
  width: 400px;
  height: 350px;  
}


