body{
      background-color: #8fbc8f;
}

.rectangle {
  width: 100%;
  height: 350px;
  background-color: #636363;
  position: absolute;
  top: 25%;
  margin-top: 25px;
  
}

.box {
  border-radius: 25px;
  background-color: #343434;
  padding: 20px; 
  width: 1300px;
  height: 375px; 
      margin: 0 auto;
  margin-top: -35px;
      <img source="Title.png" alt="Website Cover">
}


