body {
  background-color: beige;
}

h1 {
  color: #e8bfcf0;
  font-size: 1rem;
  text-decoration: underline;
}

/*
h1{
  color: purple;
}
*/

.name{
  color: purple;
}

.question{
  color: blueviolet;
  border: 5px;
  border-color: blueviolet;
}
