body {
  background-color: antiquewhite;
}

h1 {
  color: #e8bfcf0;
  font-size: 1rem;
  text-decoration: underline;
}

/*
h1{
  color: lightred;
}
*/

.name{
  color: darkred;
}

.question{
  border-style: dashed;
  border: 5px;
  border-color: darkseagreen;
}
